#containerbody{
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40em;
    height: 30em;
}
#container{
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    flex-direction: column;
    padding: 10px;
    background-color: lightblue;
    box-shadow: 10px 10px 30px 5px;
    width: 20em;
    height: 20em;
}

#playto{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: lightpink;
    width: 5em;    height: 2em;

}
#p1btn{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(58, 175, 215);
    width: 5em;   
     height: 4em;
}

#p2btn{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: greenyellow;
    width: 5em;   
     height: 4em;

}
#resetbtn{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(218, 27, 55);
    width: 5em;   
     height: 4em;
}
#p1btn:hover{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(2, 48, 63);
    width: 5em;   
     height: 5em;
}

#p2btn:hover{
    background-color: rgb(56, 90, 4);
    width: 5em;   
     height: 5em;

}
#resetbtn:hover{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(169, 8, 32);
    width: 5em;   
     height: 5em;
}

.win{
    color: green;
}

.lose{
    color: red;
}

